.newForm>div:not(:first-of-type)>div{
    margin-bottom: 15px;
}
.fileUpload, .imageUpload , .videoUpload{
    width: 44%;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.button{
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border: none;
    outline: none;
    position: absolute;
    right: 20px;
    background-color: transparent;
}
.button i{
    font-size: 20px;
}
.newForm{
    border-bottom: 1px solid #ccc;
    padding: 40px 0 100px;
}
.newForm:not(:first-of-type)>div:first-child{
    display: flex;
    justify-content: space-between;
}
.add_file_blog{
    margin-top: 10px;
}
.add_file_blog, .delete{
    cursor: pointer;
    outline: none;
}
.delete{
    height: 22px;
    width: 21px;
}
.delete i{
    font-size: 20px;
}
.newForm input , .newForm textarea{
    outline: none;
}
.toggle{
    margin-left: 20px;
    margin-bottom: 0;
}
.box.over {
    border: 3px dotted #666;
}
.products .text_en,.products .text_ru,.products .text_hy,.products .slider_url{
    display: none;
}

.systems .slider_url{
    display: none;
}
.newForm .invalid-feedback{
    display: block;
}
